@font-face {
  font-family: "bricolage";
  src: url("/fonts/bricolage.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "bricolage", fantasy;
}
