@font-face {
  font-family: "bricolage";
  src: url("/fonts/bricolage.woff2") format("woff2");
}

@font-face {
  font-family: "short-stack";
  src: url("/fonts/short-stack.woff2") format("woff2");
}

@font-face {
  font-family: "northbank";
  src: url("/fonts/northbank.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "bricolage", fantasy;
  background-color: #fafaf8;
  color: #1a1a17;
}
