.waitlist-wrapper {
  padding: 50px;
  position: relative;
  max-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: inherit;
  font-family: inherit;
  border: none;
  gap: 5px;
  position: absolute;
  top: 50px;
  left: 50px;
  cursor: pointer;
}

.home .back-icon {
  font-size: 30px;
}

.home span {
  font-size: 16px;
}

.waitlist {
  width: 100%;
  max-width: 600px;
  height: fit-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waitlist .head {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.waitlist .head h2 {
  font-family: "northbank";
}

.waitlist .head p {
  font-size: 15px;
  width: 70%;
  margin: 0 auto;
}

.waitlist .waitlist-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-top: 30px;
  width: 100%;
  border-radius: 20px;
}

.waitlist .waitlist-form input {
  font-family: inherit;
  padding: 15px 25px;
  font-size: 13px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: inherit;
  border-radius: 30px;
  width: 100%;
  outline: none;
}

.waitlist .waitlist-form button {
  border: none;
  width: 100%;
  font-family: inherit;
  padding: 15px;
  background-color: #d97706;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.waitlist .waitlist-form button:hover {
  background-color: #92400e;
}
