header {
  border: 2px solid var(--color-border);
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  background-color: inherit;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  border-radius: 70px;
  transition: all 0.6s ease;
}

header .logo {
  height: auto;
  width: auto;
}

header .instagram {
  background-color: inherit;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.6s ease;
}

header .instagram:hover {
  background-color: var(--color-border);
}

@media (max-width: 1023px) {
  header {
    width: 80%;
    padding: 15px 40px;
  }
}

@media (max-width: 767px) {
  header {
    width: 90%;
    padding: 10px 30px;
  }
}
